<ion-header>
  <ion-toolbar color="dark">
      <ion-icon class="iconSize" slot="start" (click)="closeModal()" name="arrow-back-outline"></ion-icon>
    <ion-title align="center" >Relacion direccion envio </ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-content>
          <p>Descripcion: {{direcciones.descripcion}}</p>
          <br>
          <table borde="1">
              <thead>
                  <tr>
                      <th>longitud</th>
                      <th>latitud</th>

                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let locacion of locaciones">
                      <td>{{locacion.longitud}}</td>
                      <td>{{locacion.latitud}}</td>
                  </tr>
              </tbody>
              <thead>
                <tr>
                    <th>Fecha pedido</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pedido of pedidos">
                    <td>{{pedido.fechaPedido}}</td>
                </tr>
            </tbody>

          </table>
      </ion-card-content>
  </ion-card>

</ion-content>